.container {
    width: 90%;
    padding: 3.2rem;
    margin-top: 16px;
    border-radius: 6px;
    background-color: var(--background-secondary);
    position: relative;
    overflow: hidden;
}

.advance {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 16px;
    padding: 1.2rem;
    border-radius: 6px;
    background-color: var(--background-secondary);

    & .advance-btn:hover {
        opacity: 0.85;
    }
}
.advance-content {
    color: var(--text-color-primary);

    & .advance-header {
        font-size: 1.6rem;
        font-weight: 600;
    }

    & .advance-title {
        font-size: 1.4rem;
        font-weight: 400;
        opacity: 0.8;
    }
}
